<svg style="enable-background:new 0 0 1280 1024;" version="1.1" viewBox="0 0 1280 1024" x="0px" xml:space="preserve"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
    <g id="red">
      <polyline class="st0" points="393.5,183 475,183 583,398 601,398 601,233 626,233 626,398 658,398 729,218 878,218 878,244
        745,244 640,507 821,721 894,721 894,748 693,748 571,810 558,787 686,722 790,722 580,477 331,628 269,627 269,601 326,601
        582,448 459,208 384,208 384,183 393.5,183"></polyline>
    </g>
  <g id="c6">
    <!--<circle class="st1 c-border-right" cx="152" cy="613" r="123"></circle>-->
    <path class="st1 c-border-right" d="M 152,490 A 10,10 0,0,1 152,736 z"></path>
    <circle class="st1 circle-in" cx="152" cy="613" r="94.5" fill="url(#img-6)"></circle>
    <image xlink:href="../../assets/image/hadasoft.jpg" width="189" height="189" x="57.5" y="518.5"/>

  </g>
  <g id="c5">
    <!--<circle class="st1 c-border-top-right" cx="442" cy="861" r="152"></circle>-->
    <path class="st1 c-border-top-right" d="M 392,723 A 10,10 0,0,1 492,1000 z"></path>
    <circle class="st1 circle-in" cx="442" cy="861" r="119.72"></circle>
  </g>
  <g id="c4">
    <!--<circle class="st1 c-border-left" cx="1054.5" cy="740.25" r="171"></circle>-->
    <path class="st1 c-border-left" d="M 1056,911 A 10,10 0,0,1 1056,569 z"></path>
    <circle class="st1 circle-in" cx="1056" cy="740" r="136.44"></circle>
</g>
  <g id="c3">
    <!--<circle class="st1 c-border-left" cx="1035" cy="232.5" r="165.5"></circle>-->
    <path class="st1 c-border-left" d="M 1035,397.5 A 10,10 0,0,1 1035,66.5 z"></path>
    <circle class="st1 circle-in" cx="1035" cy="232" r="130.5"></circle>
</g>
  <g id="c2">
    <!--<circle class="st1 c-border-bottom" cx="610" cy="129" r="123"></circle>-->
    <path class="st1 c-border-bottom" d="M 733,129 A 10,10 0,0,1 487,129 z"></path>
    <circle class="st1 circle-in" cx="610" cy="129" r="94.5"></circle>
</g>
  <g id="c1">
    <!--<circle class="st1 c-border-right" cx="224" cy="197" r="170"></circle>-->
    <path class="st1 c-border-right" d="M 224,27 A 10,10 0,0,1 224,367 z"></path>
    <circle class="st1 circle-in" cx="224" cy="197" r="139"></circle>
</g>
</svg>

